[Unit]
Description=botbot

[Service]
User=vlp
Group=users
ExecStart=/srv/botbot/botbot_v2/target/debug/botbot
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

